<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Agregar Tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Tarea</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-input
        label="Input with placeholder"
        placeholder="Ingrese una tarea"
        [(ngModel)]="nuevaTarea"
      ></ion-input>
    </ion-card-content>

    <ion-button fill="clear" [routerLink]="['/home']" (click)="agregarTarea()"
      >Agregar Tarea</ion-button
    >
  </ion-card>
</ion-content>
